.sidebar-section {
    display: none;
    position: fixed;
    height: 100%;
    width: 250px;
    top: 0;
    left: 0;
    background-color: #f4f4f4;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1002;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: 1s ease all;
}

.sidebar-section.active {
    display: flex;
}

.sidebar-close {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: var(--btn-danger-background);
    color: var(--btn-danger-color);
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1.2em;
    z-index: 1003;
    transition: .2s ease-in-out all;
}

.sidebar-close:hover {
    background: var(--btn-danger-background-hover);
    color: var(--btn-danger-color-hover);
    border: 2px solid var(--btn-danger-background);
    transform: scale(1.1);
}

.sidebar-logo {
    display: flex;
    position: relative;
    top: -10%;
    left: 0;
    width: 100%;
    max-width: 220px;
    padding: 20px 0;
    border-bottom: 2px solid black;
    margin-bottom: 10px;

    border: 4px solid black;
    border-radius: 50%;
    overflow: hidden;
    transition: .2s ease-in-out all;
}

.sidebar-logo:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.sidebar-section img {
    width: 100%;
    align-self: center;
    object-fit: contain;
}

/* .sidebar-section h2 {
    font-weight: bold;
    text-align: center;
    font-size: 1.9em;
    color: var(--text-color);
    margin-bottom: 20px;
} */

.sidebar-menu {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.sidebar-menu li {
    margin: 15px 0;
    text-align: start;
}

.sidebar-menu a {
    text-decoration: none;
    color: var(--text-link-color);
    font-size: 1.1em;
    padding: 8px 12px;
    display: block;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.sidebar-menu a:hover {
    background-color: var(--text-link-color-hover);
    color: #ffffff;
}

.sidebar-menu a.active {
    color: #ffffff;
    background-color: var(--text-link-color-hover);
    font-weight: bold;
    border-left: 4px solid var(--primary-color);
    border-right: 4px solid var(--primary-color);
    padding-left: 10px;
}

.sidebar-button {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1001;
    background: var(--btn-primary-background);
    border: 2px solid var(--secondary-color);
    border-radius: 0 8px 8px 0;
    transition: .1s ease-in-out all;
}
.sidebar-button:hover {
    transform: translateX(1%) translateY(-50%) scale(1.1);
    background: var(--btn-secondary-background-hover);
    border: 2px solid var(--btn-primary-background);
}
.sidebar-section.active + .sidebar-button {
    left: 260px;
    transform: translate(-50%, -50%);
    background: var(--btn-secondary-background-hover);
    border: 2px solid var(--btn-primary-background);
}
.sidebar-button .bar {
    width: 20px;
    height: 4px;
    background-color: white;
    margin: 4px auto;
    border-radius: 2px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;
}
.sidebar-section.active ~ .overlay {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 768px) {
    .sidebar-logo {
        top: -2%;
    }

    .sidebar-button {
        top: 50%;
        left: -5px;
        transform: translate(0, -50%);
        height: 100px;
    }
    .sidebar-section.active + .sidebar-button {
        left: 240px;
        transform: translate(0, -50%);
    }
}

@media (max-width: 480px) {
    .sidebar-section {
        width: 100%;
    }

    .sidebar-close {
        display: block;
    }

    .sidebar-button {
        display: none;
    }

    .sidebar-logo {
        top: 0;
    }
    .sidebar-menu li {
        text-align: center;
        margin: 10px 0;
    }
    .sidebar-menu a {
        font-size: 1.3em;
    }
}