.produtos-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.produtos-section h2 {
    font-size: 1.9rem;
    margin-bottom: 20px;
}

.produtos-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    background-color: #ffffff;
    gap: 20px;
    margin: 10px 20px;
}

.categoria-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .produtos-section {
        padding: 10px;
        height: auto;
        width: auto;
    }
}

@media (max-width: 480px) {
    .produtos-section {
        padding: 5px;
    }
}