<header class="main-header">
  <div class="logo">
    <a routerLink="/">
      <img src="./svg/icons/logo-icon.svg" alt="Logo Bella Piatto" />
    </a>
  </div>

  <div class="nav-toggle" (click)="toggleSidebar()" [class.active]="isSidebarActive">
    <span></span>
    <span></span>
    <span></span>
  </div>

  @if (userRole() != 'FUNCIONARIO') {
  
    <ng-container>
      <nav class="main-nav">
        <ul>
    
          <li>
            <a [routerLink]="[userRole() === 'CLIENTE' ? '/pedidos' : '/funcionario/pedidos']">
              Pedidos
            </a>
          </li>
    
          <li>
            <a routerLink="/cardapio">
              Cardápio
            </a>
          </li>
        </ul>
      </nav>
    </ng-container>
  
  }

  

  <div class="login-button">

    <ng-container>

      @if (isAuthenticated()) {
        <a (click)="logout()" class="btn btn-logout">
          <img class="user-icon" src="./svg/icons/logout-icon.svg" alt="Ícone de logout" />
          <span>Logout</span>
        </a>
      }
      @else {
        <a routerLink="/seletor-login" class="btn btn-login">
          <img class="user-icon" src="./svg/icons/user-icon.svg" alt="Ícone do usuário" />
          <span>Login</span>
        </a>
      }

    </ng-container>

  </div>

  <!-- <div class="overlay" [class.active]="isNavOpen" (click)="closeNav()"></div> -->
</header>