<header class="main-header">
    <div class="logo">
        <img src="assets/imgs/logo.png" alt="Logo Bella Piatto">
    </div>
    <nav class="main-nav">
        <ul>
            <li><a routerLink="/home">Início</a></li>
            <li><a routerLink="/pedidos">Pedidos</a></li>
            <li><a routerLink="/cardapio">Cardápio</a></li>
        </ul>
    </nav>
    <div class="login-button">
        <a routerLink="/login" class="btn btn-login">
            <i class="user-icon"></i> Login
        </a>
    </div>
</header>