<header class="main-header">
  <div class="logo">
    <img src="assets/imgs/logo.png" alt="Logo Bella Piatto" />
  </div>

  <div class="nav-toggle" (click)="toggleNav()" [class.active]="isNavOpen">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <nav class="main-nav">
    <ul>
      <li><a routerLink="/home" (click)="toggleNav()">Início</a></li>
      <li><a routerLink="/pedidos" (click)="toggleNav()">Pedidos</a></li>
      <li><a routerLink="/cardapio" (click)="toggleNav()">Cardápio</a></li>
    </ul>
  </nav>

  <div class="login-button">
    <a routerLink="/seletor-login" class="btn btn-login">
      <img class="user-icon" src="./svg/generic_avatar.svg" alt="Ícone do usuário" />
      <span>Login</span>
    </a>
  </div>

  <div class="overlay" [class.active]="isNavOpen" (click)="closeNav()"></div>
</header>
<div class="sidebar">
  <ul>
    <li><a routerLink="/home" (click)="toggleNav()">Início</a></li>
    <li><a routerLink="/pedidos" (click)="toggleNav()">Pedidos</a></li>
    <li><a routerLink="/cardapio" (click)="toggleNav()">Cardápio</a></li>
  </ul>
</div>