.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px;
    text-align: center;
}

.app-header a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-size: 1.5em;
}

.app-header a:hover {
    text-decoration: underline;
    color: #555;
    font-weight: bold;
    /* font-size: 1.7em; */
    transform: scale(1.1);
    transition: transform 0.2s;
}

.logo {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid #333;
}