.usuarios-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

.usuarios-form {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    border: 1px solid rgba(0,0,0,0.12);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
	width: 50%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 20px;
    gap: 10px;
    z-index: 1000;
}
.usuarios-form h2 {
    text-align: center;
    margin-bottom: 20px;
}
.usuarios-form .form-group {
    margin-bottom: 15px;
}
.usuarios-form .form-group label {
    display: block;
    font-size: 1rem; 
    color: #333; margin-bottom: 3px;
    margin-bottom: 5px;
}

.usuarios-form input, .usuarios-form select {
    width: 100%;
	padding: 10px 12px;
	border: 1px solid rgba(0,0,0,0.12);
	border-radius: 6px;
	background: #fff;
}
.usuarios-form input:focus, .usuarios-form select:focus {
	border-color: var(--primary-color);
	box-shadow: 0 0 6px rgba(100, 50, 150, 0.1);
	outline: none;
}
.usuarios-form option {
	width: 100%;
	padding: 5px;
	font-size: 0.75rem;
}

.usuarios-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: var(--btn-primary-background);
    color: var(--btn-primary-color);
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease all;
}
.usuarios-form button:hover {
    background-color: var(--btn-primary-background-hover);
    border: 2px solid var(--btn-primary-background);
    color: var(--btn-primary-color-hover);
}

.error-message {
  background-color: #fee;
  border: 1px solid #fcc;
  color: #c33;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 20px;
  font-size: 14px;
  text-align: center;
}
.error-message.active {
  background-color: #e6ffed;
  border-color: #b2f5c2;
  color: #2f855a;
}

.usuarios-container {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.usuarios-table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
}
.usuarios-table th, .usuarios-table td {
    padding: 10px;
    text-align: left;
}
.usuarios-table th {
    background-color: #f2f2f2;
    border: 2px solid #a9a4a4;
}
.usuarios-table tr:nth-child(even) {
    background-color: #f9f9f9;
}
.usuarios-table tr:nth-child(odd) {
    background-color: #ffffff;
}
.usuarios-table tr:hover {
    background-color: #e9e9e9;
}
.usuarios-table td button {
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s ease all;
    font-weight: bold;
}
.usuarios-table td button.btn-edit {
    background-color: var(--btn-primary-background);
    color: var(--btn-primary-color);
}
.usuarios-table td button.btn-edit:hover {
    background-color: var(--btn-primary-background-hover);
    color: var(--btn-primary-color-hover);
}
.usuarios-table td button.btn-delete {
    background-color: var(--btn-danger-background);
    color: var(--btn-danger-color);
}
.usuarios-table td button.btn-delete:hover {
    background-color: var(--btn-danger-background-hover);
    color: var(--btn-danger-color-hover);
}

.btn-adicionar {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: var(--btn-primary-background);
    color: var(--btn-primary-color);
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease all;
}
.btn-adicionar:hover {
    background-color: var(--btn-primary-background-hover);
    border: 2px solid var(--btn-primary-background);
    color: var(--btn-primary-color-hover);
}

.overlay.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 900;
}

@media (max-width: 768px) {
    .usuarios-form, .usuarios-container {
        width: 90%;
    }
    .usuarios-table {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .usuarios-form {
        padding: 20px 10px;
    }
    .usuarios-form input, .usuarios-form select {
        padding: 8px 10px;
    }
    .usuarios-form button {
        padding: 8px;
    }
}